/* ==========================================================================

   Project         :  TMW BANTER
   Project URL     :  http://BANTER.TMW.com

   Author          :  Yemi Kehinde
   Website         :  http://www.black-crayon.co.uk
   github Url      :  https://github.com/YKehinde
   github Url      :  https://bitbucket.org/oakehinde

   Stylesheet name :  Global styles

===================================================================================================

Table of Contents

   *  Item 1

========================================================================== */

/**
 * Global app/site styles
 */
body {
	background-color: #000;
}


/**
 * Default layout container
 */
.l-container,
.masthead {
	padding-left: #{$layout-margin}px;
	padding-right: #{$layout-margin}px;
	width: 95%;
	max-width: #{$layout-max-width}px;
	margin: 10px auto 0;

	.lt-ie9 & {
		min-width: #{$layout-min-width}px;
	}
}

.centre {
	text-align: center;	
}

/* logo style ------------------------------------------------------------------ */
.logo {
	margin-bottom: 7px
}


/* form style ------------------------------------------------------------------ */

.form-input {
	color: #000;
}

/* image swap style ------------------------------------------------------------------ */

.image-swap {
	display: block;
	margin: 0 auto 5px	;
}


